$enable-shadows: true !default;
$enable-transitions: false !default;
$enable-validation-icons: false !default;

$spacer: 1rem !default;

$headings-margin-bottom: $spacer !default;

$grid-gutter-width: 20px !default;

$card-border-radius: 0 !default;
$card-inner-border-radius: $card-border-radius !default;

$breadcrumb-border-radius: 0 !default;
