.wrestler-statistics {
  &:last-child dl {
    margin-bottom: 0;
  }
}

.wrestler-biography {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.wrestler-list-item {
  &-caption {
    color: color-yiq($link-color);
    background-color: $link-color;
    padding: .5rem .75rem;
  }

  a {
    background-color: $body-bg;

    @include hover-focus {
      .wrestler-list-item-caption {
        color: color-yiq($link-color);
        background-color: $link-hover-color;
        text-decoration: none;
      }
    }
  }
}
